.member-container {
  margin-top: 4%;
  height: 100vh;
}

.form-container {
  margin-top: 4%;
}

.introduce {
  margin-top: 4%;
}

.member-title h2 {
  text-align: center;
}

.log-button {
  margin-top: 5%;
  text-align: center;
}

.reg-button {
  margin-top: 5%;
  text-align: center;
}

.log-button button {
  padding: 12px 32px;
  border: none;
}

.reg-button button {
  padding: 12px 32px;
  border: none;
}

.login-button button {
  padding: 12px 32px;
  border: none;
}

.register-button button {
  padding: 12px 32px;
  border: none;
}

.other-login {
  margin-top: 10%;
  text-align: center;
}

.error-register {
  font-size: 15px;
  font-weight: 300;
  color: red;
}

.error-login-page {
  margin-top: 5%;
  margin-bottom: -5%;
}

.error-login {
  text-align: center;
  font-size: 15px;
  font-weight: 300;
  color: red;
}